.ux-slider {
  display: inline-block;
  position: relative;
}

.ux-slider__container {
  width: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.ux-slider__track {
  z-index: 1;
  background-color: var(--aurelia-ux--slider-background, var(--aurelia-ux--design-primary, #3F51B5));
  height: 2px;
}

.ux-slider__track--active {
  transition: none;
}

.ux-slider__track--inactive {
  transition: width 0.2s ease-out;
}

.ux-slider__track-before {
  opacity: 0.8;
}

.ux-slider__track-after {
  opacity: 0.4;
}

.ux-slider__container * {
  cursor: pointer;
}

.ux-slider__thumb-button {
  border-radius: 50%;
  border: none;
  padding: 0px;
  z-index: 2;
  background-color: var(--aurelia-ux--slider-background, var(--aurelia-ux--design-primary, #3F51B5));
  height: var(--aurelia-ux--slider-thumb-diameter, 12px);
  width: var(--aurelia-ux--slider-thumb-diameter, 12px);
  box-shadow: none;
  transition: box-shadow 0.15s;
  outline: 0;
}

.ux-slider__container--enabled .ux-slider__thumb-button:hover,
.ux-slider__container--enabled .ux-slider__thumb-button:focus {
  box-shadow: 0px 0px 0px calc(var(--aurelia-ux--slider-thumb-diameter, 12px) * 0.75) rgba(63, 81, 181, 0.2);
}

.ux-slider__container--disabled {
  cursor: no-drop;
}

.ux-slider__container--disabled * {
  cursor: no-drop;
}

.ux-slider__container--disabled .ux-slider__track {
  background-color: var(--aurelia-ux--slider-disabled-background, #e1e1e1);
}

.ux-slider__container--disabled .ux-slider__thumb-button {
  background-color: var(--aurelia-ux--slider-disabled-background, #e1e1e1);
}

