ux-lookup {
  display: block;
  position: fixed;
  opacity: 0;
  z-index: 9999;
  transform: scale(0.7, 0.7);
  transition: var(--aurelia-ux--lookup-transition-duration, 125ms) cubic-bezier(0.25, 0.8, 0.25, 1);
  overflow-y: auto;
  background-color: #F5F5F5;
  background-color: var(--aurelia-ux--lookup-background, var(--aurelia-ux--design-surface-background, #F5F5F5));
  color: #212121;
  color: var(--aurelia-ux--lookup-foreground, var(--aurelia-ux--design-surface-foreground, #212121));
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  box-shadow: var(--aurelia-ux--lookup-elevation, var(--aurelia-ux--design-elevation2dp, 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12)));

  &:focus {
    outline: none;
  }

  &.ux-lookup--open {
    opacity: 1;
    transform: scale(1, 1);
  }

  .ux-lookup__option {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 100%;
    height: 48px;
    padding: 0 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
    text-align: left;
    cursor: pointer;

    &:hover {
      background-color: var(--aurelia-ux--lookup-option-hover-background, rgba(0, 0, 0, 0.05));
    }

    &.ux-lookup__option--focused {
      background-color: var(--aurelia-ux--lookup-option-focused-background, rgba(0, 0, 0, 0.1));
    }

  }
}
