@import '../common.scss';

ux-sidenav-drawer {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 2;
  background-color: var(--aurelia-ux--design-control-background, white);
  color: var(--aurelia-ux--design-control-foreground, black);

  transition: {
    duration: $duration;
    timing-function: $timing-function;
    property: transform;
  }

  &.ux-sidenav-drawer--left {
    &.ux-sidenav-drawer--closed {
      transform: translate3d(-100%, 0, 0);
    }

  }

  &.ux-sidenav-drawer--right {
    right: 0;

    &.ux-sidenav-drawer--closed {
      transform: translate3d(100%, 0, 0);
    }
  }
}
