ux-card {
  display: flex;
  position: relative;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0;
  border-radius: 2px;
  background-color: #212121;
  background-color: var(--ux-theme--card-background, #212121);
  color: #fff;
  color: var(--ux-theme--card-foreground, #fff);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),0 3px 1px -2px rgba(0, 0, 0, 0.2),0 1px 5px 0 rgba(0, 0, 0, 0.12);
  box-shadow: var(--ux-design--elevation2dp, 0 2px 2px 0 rgba(0, 0, 0, 0.14),0 3px 1px -2px rgba(0, 0, 0, 0.2),0 1px 5px 0 rgba(0, 0, 0, 0.12));
}

ux-card header {
  display: flex;
  flex-direction: column;
}

ux-card.primary-header header {
  color: #3f51b5;
  background-color: var(--ux-theme--card-primary-header-background, #3f51b5);
  color: #fff;
  color: var(--ux-theme--card-primary-header-foreground, #fff);
}

ux-card.primary-header header .title .sub-title {
  color: #fff;
  color: var(--ux-theme--card-primary-header-foreground, #fff);
}

ux-card.accent-header header {
  background-color: var(--ux-theme--card-accent-header-background, #ff4081);
  color: var(--ux-theme--card-accent-header-foreground, #fff);
}

ux-card.accent-header header .title .sub-title {
  color: var(--ux-theme--card-accent-header-foreground, #ff4081);
}

ux-card header .header-row {
  display: flex;
}

ux-card header .title {
  display: flex;
  flex-direction: column;
  font-family: Roboto, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  text-decoration: inherit;
  text-transform: inherit;
  font-size: 24px;
  letter-spacing: normal;
  line-height: 24px;
  margin: 0;
}

ux-card header .title .sub-title {
  padding-top: 8px;
  font-size: 14px;
  line-height: 14px;
  color: #00000088;
}

ux-card[dense] header .title {
  font-size: 20px;
  line-height: 20px;
}

ux-card header,
ux-card .card-content {
  padding: 16px;
}

ux-card.primary-header header+.card-content,
ux-card.accent-header header+.card-content {
  padding-top: 16px;
}

ux-card header+.card-content {
  padding-top: 0;
}

ux-card .action-row {
  display: flex;
  margin: 8px;
  flex-wrap: nowrap;
}

ux-card>img {
  width: 100%;
}

ux-card .card-content:last-child {
  padding-bottom: 24px;
}

ux-card footer {
  padding: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: auto;
}

ux-card footer.align-end {
  justify-content: flex-end;
}

ux-card footer .footer-action {
  font-size: 14px;
  height: 36px;
  line-height: 36px;
  color: #3f51b5;
  color: var(--ux-theme--button-flat-foreground, var(--ux-design--primary, #3F51B5));
  min-width: 88px;
  padding: 0 8px;
  border-radius: 2px;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  font-family: inherit;
  font-weight: 500;
  font-weight: var(--ux-theme--button-font-weight, 500);
  text-transform: uppercase;
  text-transform: var(--ux-theme--button-text-transform, uppercase);
  letter-spacing: 0.5px;
  letter-spacing: var(--ux-theme--button-letter-spacing, 0.5px);
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

ux-card footer .footer-action:first-child {
  padding-left: 0;
}

ux-card footer .footer-action:last-child {
  padding-right: 0;
}

ux-grid>ux-card {
  grid-column: span 12;
  max-width: 100%;
}

ux-card .spacer {
  flex: 1;
}

ux-grid>ux-card[xs="0"] {
  display: none;
}

ux-grid>ux-card[xs="1"] {
  grid-column: span 1;
}

ux-grid>ux-card[xs="2"] {
  grid-column: span 2;
}

ux-grid>ux-card[xs="3"] {
  grid-column: span 3;
}

ux-grid>ux-card[xs="4"] {
  grid-column: span 4;
}

ux-grid>ux-card[xs="5"] {
  grid-column: span 5;
}

ux-grid>ux-card[xs="6"] {
  grid-column: span 6;
}

ux-grid>ux-card[xs="7"] {
  grid-column: span 7;
}

ux-grid>ux-card[xs="8"] {
  grid-column: span 8;
}

ux-grid>ux-card[xs="9"] {
  grid-column: span 9;
}

ux-grid>ux-card[xs="10"] {
  grid-column: span 10;
}

ux-grid>ux-card[xs="11"] {
  grid-column: span 11;
}

ux-grid>ux-card[xs="12"] {
  grid-column: span 12;
}

ux-grid>ux-card[order-xs="-1"] {
  order: -1;
}

ux-grid>ux-card[order-xs="0"] {
  order: 0;
}

ux-grid>ux-card[order-xs="1"] {
  order: 1;
}

ux-grid>ux-card[order-xs="2"] {
  order: 2;
}

ux-grid>ux-card[order-xs="3"] {
  order: 3;
}

ux-grid>ux-card[order-xs="4"] {
  order: 4;
}

ux-grid>ux-card[order-xs="5"] {
  order: 5;
}

ux-grid>ux-card[order-xs="6"] {
  order: 6;
}

ux-grid>ux-card[order-xs="7"] {
  order: 7;
}

ux-grid>ux-card[order-xs="8"] {
  order: 8;
}

ux-grid>ux-card[order-xs="9"] {
  order: 9;
}

ux-grid>ux-card[order-xs="10"] {
  order: 10;
}

@media (min-width: 480px) {
  ux-grid>ux-card[sm="0"] {
    display: none;
  }
  ux-grid>ux-card[sm="1"] {
    grid-column: span 1;
  }
  ux-grid>ux-card[sm="2"] {
    grid-column: span 2;
  }
  ux-grid>ux-card[sm="3"] {
    grid-column: span 3;
  }
  ux-grid>ux-card[sm="4"] {
    grid-column: span 4;
  }
  ux-grid>ux-card[sm="5"] {
    grid-column: span 5;
  }
  ux-grid>ux-card[sm="6"] {
    grid-column: span 6;
  }
  ux-grid>ux-card[sm="7"] {
    grid-column: span 7;
  }
  ux-grid>ux-card[sm="8"] {
    grid-column: span 8;
  }
  ux-grid>ux-card[sm="9"] {
    grid-column: span 9;
  }
  ux-grid>ux-card[sm="10"] {
    grid-column: span 10;
  }
  ux-grid>ux-card[sm="11"] {
    grid-column: span 11;
  }
  ux-grid>ux-card[sm="12"] {
    grid-column: span 12;
  }
  ux-grid>ux-card[order-sm="-1"] {
    order: -1;
  }
  ux-grid>ux-card[order-sm="0"] {
    order: 0;
  }
  ux-grid>ux-card[order-sm="1"] {
    order: 1;
  }
  ux-grid>ux-card[order-sm="2"] {
    order: 2;
  }
  ux-grid>ux-card[order-sm="3"] {
    order: 3;
  }
  ux-grid>ux-card[order-sm="4"] {
    order: 4;
  }
  ux-grid>ux-card[order-sm="5"] {
    order: 5;
  }
  ux-grid>ux-card[order-sm="6"] {
    order: 6;
  }
  ux-grid>ux-card[order-sm="7"] {
    order: 7;
  }
  ux-grid>ux-card[order-sm="8"] {
    order: 8;
  }
  ux-grid>ux-card[order-sm="9"] {
    order: 9;
  }
  ux-grid>ux-card[order-sm="10"] {
    order: 10;
  }
}

@media (min-width: 960px) {
  ux-grid>ux-card[md="0"] {
    display: none;
  }
  ux-grid>ux-card[md="1"] {
    grid-column: span 1;
  }
  ux-grid>ux-card[md="2"] {
    grid-column: span 2;
  }
  ux-grid>ux-card[md="3"] {
    grid-column: span 3;
  }
  ux-grid>ux-card[md="4"] {
    grid-column: span 4;
  }
  ux-grid>ux-card[md="5"] {
    grid-column: span 5;
  }
  ux-grid>ux-card[md="6"] {
    grid-column: span 6;
  }
  ux-grid>ux-card[md="7"] {
    grid-column: span 7;
  }
  ux-grid>ux-card[md="8"] {
    grid-column: span 8;
  }
  ux-grid>ux-card[md="9"] {
    grid-column: span 9;
  }
  ux-grid>ux-card[md="10"] {
    grid-column: span 10;
  }
  ux-grid>ux-card[md="11"] {
    grid-column: span 11;
  }
  ux-grid>ux-card[md="12"] {
    grid-column: span 12;
  }
  ux-grid>ux-card[order-md="-1"] {
    order: -1;
  }
  ux-grid>ux-card[order-md="0"] {
    order: 0;
  }
  ux-grid>ux-card[order-md="1"] {
    order: 1;
  }
  ux-grid>ux-card[order-md="2"] {
    order: 2;
  }
  ux-grid>ux-card[order-md="3"] {
    order: 3;
  }
  ux-grid>ux-card[order-md="4"] {
    order: 4;
  }
  ux-grid>ux-card[order-md="5"] {
    order: 5;
  }
  ux-grid>ux-card[order-md="6"] {
    order: 6;
  }
  ux-grid>ux-card[order-md="7"] {
    order: 7;
  }
  ux-grid>ux-card[order-md="8"] {
    order: 8;
  }
  ux-grid>ux-card[order-md="9"] {
    order: 9;
  }
  ux-grid>ux-card[order-md="10"] {
    order: 10;
  }
}

@media (min-width: 1280px) {
  ux-grid>ux-card[lg="0"] {
    display: none;
  }
  ux-grid>ux-card[lg="1"] {
    grid-column: span 1;
  }
  ux-grid>ux-card[lg="2"] {
    grid-column: span 2;
  }
  ux-grid>ux-card[lg="3"] {
    grid-column: span 3;
  }
  ux-grid>ux-card[lg="4"] {
    grid-column: span 4;
  }
  ux-grid>ux-card[lg="5"] {
    grid-column: span 5;
  }
  ux-grid>ux-card[lg="6"] {
    grid-column: span 6;
  }
  ux-grid>ux-card[lg="7"] {
    grid-column: span 7;
  }
  ux-grid>ux-card[lg="8"] {
    grid-column: span 8;
  }
  ux-grid>ux-card[lg="9"] {
    grid-column: span 9;
  }
  ux-grid>ux-card[lg="10"] {
    grid-column: span 10;
  }
  ux-grid>ux-card[lg="11"] {
    grid-column: span 11;
  }
  ux-grid>ux-card[lg="12"] {
    grid-column: span 12;
  }
  ux-grid>ux-card[order-lg="-1"] {
    order: -1;
  }
  ux-grid>ux-card[order-lg="0"] {
    order: 0;
  }
  ux-grid>ux-card[order-lg="1"] {
    order: 1;
  }
  ux-grid>ux-card[order-lg="2"] {
    order: 2;
  }
  ux-grid>ux-card[order-lg="3"] {
    order: 3;
  }
  ux-grid>ux-card[order-lg="4"] {
    order: 4;
  }
  ux-grid>ux-card[order-lg="5"] {
    order: 5;
  }
  ux-grid>ux-card[order-lg="6"] {
    order: 6;
  }
  ux-grid>ux-card[order-lg="7"] {
    order: 7;
  }
  ux-grid>ux-card[order-lg="8"] {
    order: 8;
  }
  ux-grid>ux-card[order-lg="9"] {
    order: 9;
  }
  ux-grid>ux-card[order-lg="10"] {
    order: 10;
  }
}

@media (min-width: 1925px) {
  ux-grid>ux-card[xl="0"] {
    display: none;
  }
  ux-grid>ux-card[xl="1"] {
    grid-column: span 1;
  }
  ux-grid>ux-card[xl="2"] {
    grid-column: span 2;
  }
  ux-grid>ux-card[xl="3"] {
    grid-column: span 3;
  }
  ux-grid>ux-card[xl="4"] {
    grid-column: span 4;
  }
  ux-grid>ux-card[xl="5"] {
    grid-column: span 5;
  }
  ux-grid>ux-card[xl="6"] {
    grid-column: span 6;
  }
  ux-grid>ux-card[xl="7"] {
    grid-column: span 7;
  }
  ux-grid>ux-card[xl="8"] {
    grid-column: span 8;
  }
  ux-grid>ux-card[xl="9"] {
    grid-column: span 9;
  }
  ux-grid>ux-card[xl="10"] {
    grid-column: span 10;
  }
  ux-grid>ux-card[xl="11"] {
    grid-column: span 11;
  }
  ux-grid>ux-card[xl="12"] {
    grid-column: span 12;
  }
  ux-grid>ux-card[order-xl="-1"] {
    order: -1;
  }
  ux-grid>ux-card[order-xl="0"] {
    order: 0;
  }
  ux-grid>ux-card[order-xl="1"] {
    order: 1;
  }
  ux-grid>ux-card[order-xl="2"] {
    order: 2;
  }
  ux-grid>ux-card[order-xl="3"] {
    order: 3;
  }
  ux-grid>ux-card[order-xl="4"] {
    order: 4;
  }
  ux-grid>ux-card[order-xl="5"] {
    order: 5;
  }
  ux-grid>ux-card[order-xl="6"] {
    order: 6;
  }
  ux-grid>ux-card[order-xl="7"] {
    order: 7;
  }
  ux-grid>ux-card[order-xl="8"] {
    order: 8;
  }
  ux-grid>ux-card[order-xl="9"] {
    order: 9;
  }
  ux-grid>ux-card[order-xl="10"] {
    order: 10;
  }
}
