.ux-card {
  display: flex;
  position: relative;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0;
  border-radius: 2px;
  background-color: #F5F5F5;
  background-color: var(--aurelia-ux--card-background, var(--aurelia-ux--design-surface-background, #F5F5F5));
  color: #212121;
  color: var(--aurelia-ux--card-foreground, var(--aurelia-ux--design-surface-foreground, #212121));
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  box-shadow: var(--aurelia-ux--design-elevation2dp, 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12));
  margin-bottom: 16px;
}

.ux-card__header,
.ux-card__content {
  padding: 16px;
}

.ux-card__header {
  display: flex;
  flex-direction: column;
}

.ux-card__thumbnail {
  flex-shrink: 0;
  margin-right: 16px;
  align-self: flex-start;
}

.ux-card__header-row {
  display: flex;
  align-items: center;
}

.ux-card__spacer {
  flex: 1;
}
.ux-card__separator {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #ccc;
  margin: 24px auto;
}

.ux-card__separator--no-margin {
  margin: auto auto 0px auto;
}

.ux-card__separator--no-margin~.ux-card__footer {
  margin-top: 0px;
}

.ux-card__title {
  display: flex;
  flex-direction: column;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  text-decoration: inherit;
  text-transform: inherit;
  font-size: 24px;
  letter-spacing: normal;
  line-height: 24px;
  margin: 0;
  color: inherit;
  color: var(--aurelia-ux--card-title-foreground, inherit);
}

.ux-card__sub-title {
  padding-top: 8px;
  font-size: 14px;
  line-height: 14px;
  color: inherit;
  color: var(--aurelia-ux--card-sub-title-foreground, inherit);
  opacity: 0.8;
  opacity: var(--aurelia-ux--card-sub-title-opacity, 0.8);
}

.ux-card__header--primary {
  color: #3f51b5;
  background-color: var(--aurelia-ux--card-primary-header-background, var(--aurelia-ux--design-primary, #3F51B5));
  color: rgb(36, 28, 28);
  color: var(--aurelia-ux--card-primary-header-foreground, var(--aurelia-ux--design-primary-foreground, #fff));
}

.ux-card__header--accent {
  background-color: #ff4081;
  background-color: var(--aurelia-ux--card-accent-header-background, var(--aurelia-ux--design-accent, #ff4081));
  color: #fff;
  color: var(--aurelia-ux--card-accent-header-foreground, var(--aurelia-ux--design-accent-foreground, #fff));
}

/* ux-card ux-card-header[color=primary]+ux-card-content,
ux-card ux-card-header[color=accent]+ux-card-content {
  padding-top: 16px;
}

ux-card ux-card-header+ux-card-content {
  padding-top: 0;
} */

.ux-card__action-row {
  display: flex;
  margin: 8px;
  flex-wrap: nowrap;
}

.ux-card__img {
  width: 100%;
}

.ux-card__footer {
  padding: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: auto;
}

.ux-card__content:last-child {
  padding-bottom: 24px;
}

.ux-card--dense .ux-card__title {
  font-size: 20px;
  line-height: 20px;
}
 
.ux-grid>.ux-card {
  grid-column: span 12;
  max-width: 100%;
}
