styles.chip {
  display: inline-flex;
  align-items: center;

  font-size: 14px;

  padding: 8px 12px;

  border-radius: 100px;

  background-color: ${background || $design.accent};
  color: ${foreground || $design.accentForeground};

}
