ux-input {
  display: block;
  width: 100%;
}

  ux-input > input {
    width: 100%;
    box-sizing: border-box;
    padding: 6px 0 4px 0;
    border: 0;
    outline: none;
    padding-left:0;
    padding-right:0;
    transition: border-color 250ms ease;
    color: inherit;
    color: var(--ux-theme--input-foreground, inherit);
    background-color: transparent;
    background-color: var(--ux-theme--input-background, transparent);
    border-bottom: 1px solid #9E9E9E;
    border-bottom: var(--ux-theme--input-border-bottom, 1px solid #9E9E9E);
  }

    ux-input > input:hover,
    ux-input > input:focus {
      border-bottom: 1px solid #FF4081;
      border-bottom: var(--ux-theme--input-border-bottom-hover, 1px solid var(--ux-design--accent, #FF4081));
    }

    ux-input > input:focus {
      border-bottom-width: 2px;
      padding-bottom: 3px;
    }

    ux-input > input[disabled],
    ux-input > input[disabled]:hover,
    ux-input > input[disabled]:focus,
    ux-input > input[readonly],
    ux-input > input[readonly]:hover,
    ux-input > input[readonly]:focus {
      color: #A4A4A4;
      color: var(--ux-theme--input-disabled-foreground, #A4A4A4);
      border-bottom: 1px dashed #A4A4A4;
      border-bottom: var(--ux-theme--input-disabled-border-bottom, 1px dashed #A4A4A4);
    }

  ux-input.full-width > input {
    padding: 20px 8px;
    font-size: 16px;
    margin-bottom: 0;
    color: #232323;
    color: var(--ux-theme--input-full-width-foreground, #232323);
    border: 1px solid #EEEEEE;
    border: var(--ux-theme--input-full-width-border, 1px solid #EEEEEE);
    background-color: #FFF;
    background-color: var(--ux-theme--input-full-width-background, #FFF);
  }

    ux-input.full-width > input[disabled]
    ux-input.full-width > input[disabled]:hover,
    ux-input.full-width > input[disabled]:focus,
    ux-input.full-width > input[readonly],
    ux-input.full-width > input[readonly]:hover,
    ux-input.full-width > input[readonly]:focus  {
      background-color: #EEEEEE;
      background-color: var(--ux-theme--input-full-width-background-disabled, #EEEEEE);
      border: 1px dashed #A4A4A4;
      border: 1px solid var(--ux-theme--input-disabled-border-bottom, 1px dashed #A4A4A4);
      color: #A4A4A4;
      color: var(--ux-theme--input-disabled-foreground, #A4A4A4);
    }
  
  ux-input.has-error input,
  ux-input input:invalid {
    box-shadow: none;
    border-bottom-color: #F44336;
    border-bottom-color: var(--ux-theme--input-error, #F44336);
  }

  ux-input.full-width.has-error input {
    border-color: #F44336;
    border-color: var(--ux-theme--input-error, #F44336);
  }
