ux-year-list {
  display: block;
  height: 260px;
  overflow-y: auto;
  text-align: center;
}

ux-year-list>.years {
  font-size: 1em;
  cursor: pointer;
  margin: 24px 0;
}

ux-year-list>.years.selected {
  font-size: 1.75em;
  color: var(--design-accent);
}
