.ux-checkbox {
  display: inline-block;
  outline: none;
  height: 24px;
  width: 24px;
  box-sizing: border-box;
  position: relative;
}

.ux-checkbox__inner-input {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 1;
}

.ux-checkbox__border {
  border: solid 2px #616161;
  border-color: var(--aurelia-ux--checkbox-border-color, #616161);
  border-width: var(--aurelia-ux--checkbox-border-width, 2px);
  border-radius: 3px;
  display: block;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.ux-checkbox__background-fill {
  transform: scale3d(0, 0, 0);
  transition: 100ms;
  background-color: #3F51B5;
  background-color: var(--aurelia-ux--checkbox-active-color, var(--aurelia-ux--design-primary, #3F51B5));
  height: inherit;
  width: inherit;
}

.ux-checkbox__icon,
.ux-checkbox__indeterminate-icon {
  fill: #fff;
  fill: var(--aurelia-ux--checkbox-checkmark-color, var(--aurelia-ux--design-primary-foreground, #fff));
  width: 20px;
  height: 20px;
}

.ux-checkbox--checked .ux-checkbox__border,
.ux-checkbox--indeterminate .ux-checkbox__border {
  border: solid 2px #3F51B5;
  border-color: var(--aurelia-ux--checkbox-active-color, var(--aurelia-ux--design-primary, #3F51B5));
}

.ux-checkbox--checked .ux-checkbox__background-fill,
.ux-checkbox--indeterminate .ux-checkbox__background-fill {
  transform: none;
}

.ux-checkbox__inner-input:disabled {
  pointer-events: none;
  cursor: default;
}

.ux-checkbox--disabled .ux-checkbox__border {
  border-color: #9E9E9E;
  border-color: var(--aurelia-ux--checkbox-disabled-background, var(--aurelia-ux--design-disabled-background, #e1e1e1));
}

.ux-checkbox--disabled .ux-checkbox__background-fill {
  background-color: #9E9E9E;
  background-color: var(--aurelia-ux--checkbox-disabled-background, var(--aurelia-ux--design-disabled-background, #e1e1e1));
}
.ux-checkbox--disabled .ux-checkbox__icon,
.ux-checkbox--disabled .ux-checkbox__indeterminate-icon {
  fill: #CFD8DC;
  fill: var(--aurelia-ux--checkbox-disabled-foreground, var(--aurelia-ux--design-disabled-foreground, #CFD8DC));
}




.ux-checkbox .ripplecontainer {
  position: relative;
  width: 0;
  height: 0;
}

.ux-checkbox .paper-ripple {
  top: auto;
  left: auto;
  right: -37px;
  bottom: -37px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.ux-checkbox .ripple {
  position: absolute;
  right: -37px;
  bottom: -37px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.22);
  transition: transform 100ms ease-in-out;
  transform: scale3d(0, 0, 0);
}

.ux-checkbox--focused .ripple {
  transform: scale3d(1, 1, 1);
}

.ux-checkbox--disabled .ripple {
  transform: scale3d(0, 0, 0);
}

.ux-checkbox:hover:not(.ux-checkbox--disabled) .ux-checkbox__border {
  border: solid 2px #3F51B5;
  border-color: var(--aurelia-ux--checkbox-active-color, var(--aurelia-ux--design-primary, #3F51B5));
}
