styles.tab {
  display: inline-block;
  text-transform: uppercase;
  cursor: pointer;
  opacity: 0.7;
  padding: 14px 12px 20px 12px;
  text-align: center;
  color: ${foreground || $design.accentForeground};
  background-color: ${background || $design.primary};
}

styles.tab.disabled {
  cursor: not-allowed;
}

styles.tab:hover:not(.disabled) {
  opacity: 1;
}

styles.tab.selected:not(.disabled):not(.transitioning) {
  opacity: 1;
  padding-bottom: 18px;
  border-bottom: ${indicator || $design.accent} solid 2px;
}

styles.tab>.icon>svg {
  width: ${iconSize || '24px'};
  height: ${iconSize || '24px'};
  fill: ${foreground || $design.accentForeground};
}

styles.tab>.text {
  display: block;
}
