<template>

  <ux-grid fluid>
    <ux-grid-cell sm="6" lg="8">
      <h1 class="section-title">
        &lt;ux-textarea&gt;&lt;/ux-textarea&gt;
      </h1>

      <p>
        <strong>Package:</strong> @aurelia-ux/textarea
      </p>

      <p>
        <strong>Also in:</strong> @aurelia-ux/components
      </p>

      <p>
        The
        <code>ux-textarea</code> element allows users to input data and has support for the Aurelia-Validation plugin.
      </p>

    </ux-grid-cell>

    <ux-grid-cell sm="6" lg="4">
      <ux-card>
        <ux-card-content>
          <form submit.delegate="submit()">

            <ux-input class="form-control" validation-errors.bind="firstNameErrors" class.bind="firstNameErrors.length ? 'has-error' : ''"
              view-model.ref="errorDemo1" placeholder="First Name" value.bind="firstName & validate"></ux-input>
            <ux-input-info target.bind="errorDemo1">
              <span if.bind="firstNameErrors.length">${firstNameErrors[0].error.message}</span>
            </ux-input-info>

            <ux-textarea validation-errors.bind="descriptionErrors" class.bind="descriptionErrors.length ? 'has-error' : ''" view-model.ref="errorDemo2"
              class="form-control" placeholder="Description" value.bind="description & validate"></ux-textarea>
            <ux-input-info target.bind="errorDemo2">
              <span if.bind="descriptionErrors.length">${descriptionErrors[0].error.message}</span>
              <span if.bind="!descriptionErrors.length">Description Here</span>
            </ux-input-info>


            <ux-button type="raised">Submit</ux-button>
          </form>
        </ux-card-content>
      </ux-card>
    </ux-grid-cell>

    <ux-grid-cell sm="6" lg="4">
      <ux-card>
        <div class="component-demo">
          <ux-textarea readonly value="Read Only Input"></ux-textarea>
        </div>
        <code-block type="html">
          &lt;ux-textarea readonly value="Read Only Input"&gt;
          &lt;/ux-textarea&gt;
        </code-block>
      </ux-card>
    </ux-grid-cell>

    <ux-grid-cell sm="6" lg="4">
      <ux-card>
        <div class="component-demo">
          <ux-textarea disabled value="Disabled Input"></ux-textarea>
        </div>
        <code-block type="html">
          &lt;ux-textarea disabled value="Disabled Input"&gt;
          &lt;/ux-textarea&gt;
        </code-block>
      </ux-card>
    </ux-grid-cell>

    <ux-grid-cell sm="6" lg="4">
      <ux-card>
        <div class="component-demo">
          <ux-textarea class="full-width" placeholder="textarea field"></ux-textarea>
        </div>
        <code-block type="html">
          &lt;ux-textarea class="full-width"&gt;
          &lt;/ux-textarea&gt;
        </code-block>
      </ux-card>
    </ux-grid-cell>

    <ux-grid-cell sm="6" lg="4">
      <ux-card>
        <div class="component-demo">
          <ux-textarea placeholder="Value Here"></ux-textarea>
        </div>
        <code-block type="html">
          &lt;ux-textarea placeholder="Value Here"&gt;
          &lt;/ux-textarea&gt;
        </code-block>
      </ux-card>
    </ux-grid-cell>

    <ux-grid-cell sm="6" lg="4">
      <ux-card>
        <div class="component-demo">
          <ux-textarea rows="5" placeholder="Text goes in this field" placeholder="textarea field"></ux-textarea>
        </div>
        <code-block type="html">
          &lt;ux-textarea rows="5"&gt;
          &lt;/ux-textarea&gt;
        </code-block>
      </ux-card>
    </ux-grid-cell>

    <ux-grid-cell sm="6" lg="4">
      <ux-card>
        <div class="component-demo">
          <ux-textarea class="show-grip" placeholder="textarea field"></ux-textarea>
        </div>
        <code-block type="html">
          &lt;ux-textarea class="show-grip"&gt;
          &lt;/ux-textarea&gt;
        </code-block>
      </ux-card>
    </ux-grid-cell>

    <ux-grid-cell sm="6" lg="4">
      <ux-card>
        <div class="component-demo">
          <ux-textarea auto-resize value="Just start typing here"></ux-textarea>
        </div>
        <code-block type="html">
          &lt;ux-textarea auto-resize&gt;
          &lt;/ux-textarea&gt;
        </code-block>
      </ux-card>
    </ux-grid-cell>

  </ux-grid>
</template>
