.ux-chip-list {
  display: flex;
  flex-wrap: wrap;
}

.ux-chip-list .ux-chip {
  /* display: inline-block; */
  margin: 4px;
}

.ux-chip-list .ux-chip {
  cursor: pointer;
}

/* .ux-chip-list .ux-chip:first-child {
  margin-left: 0px;
} */

/* TYPES */
.ux-chip-list--scroll {
  overflow-x: auto;
  flex-wrap: nowrap;
}
.ux-chip-list--scroll .ux-chip {
  margin-bottom: 0px;
}
.ux-chip-list--stack {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.ux-chip-list--stack .ux-chip {
  margin-left: 0px;
  margin-top: 8px;
  margin-bottom: 0px;
}
.ux-chip-list--stack .ux-chip:first-child {
  margin-top: 0px;
}
