ux-input-info {
  display: flex;
  font-size: 14px;
  padding: 0 16px;
  width: 100%;
  color: #909090;
  color: var(--aurelia-ux--input-info-foreground, #909090);
}

ux-input-info>.hint-text,
ux-input-info>.error-text {
  flex-grow: 1;
}

ux-input-info>.hint-text:first-child,
ux-input-info>.error-text:first-child {
  display: block;
}

ux-input-info>.hint-text,
ux-input-info>.error-text {
  display: none;
}

ux-input-info>.counter {
  transition: 250ms;
  flex-wrap: nowrap;
  display: flex;
}

ux-input.focused+ux-input-info>.counter {
  color: #FF4081;
  color: var(--aurelia-ux--design-accent, #FF4081);
}

ux-input>input[disabled]+ux-input-info {
  display: none;
}

.has-error+ux-input-info {
  color:  #F44336;
  color: var(--aurelia-ux--input-info-error, #F44336);
}
