ux-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

ux-form .form-row {
  display: flex;
  flex-direction: row;
}

ux-form .form-row>* {    
  margin-left: 8px;
  margin-right: 8px;
}

ux-form .form-row>*:last-child {
  margin-right: 0;
}

ux-form .form-row>*:first-child {
  margin-left: 0;
}

ux-form ux-field {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 16px;
}

ux-form ux-field > label {
    font-size: 14px;
    font-size: var(--ux-theme--form-label-font-size, 14px);
    color: #9E9E9E;
    color: var(--ux-theme--form-label-color, #9E9E9E);
}
