@import 'https://fonts.googleapis.com/css?family=Source+Code+Pro:400,600,300,500,700,900,200|Source+Sans+Pro:400,300,600,700,900,200italic,300italic';

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #FAFAFA;
  /* background-color: var(--aurelia-ux--design-app-background, #FAFAFA); */
  color: #212121;
  /* color: var(--aurelia-ux--design-app-foreground, #212121); */
  --app-primary: var(--ux-swatch--indigo-p500);
  --app-accent: var(--ux-swatch--pink-a200);
  --app-background: var(--ux-swatch--white);
  --app-foreground: var(--ux-swatch--grey-p900);
  --app-surface: var(--ux-swatch--blue-grey-p50);
}

body {
  display: flex;
  flex-direction: row;
  background: var(--app-background);
  color: var(--app-foreground);
}

ul, ol {
  list-style: initial;
  padding-left: 32px;
}

section {
  padding: 32px;
}

code {
  font-family: 'Source Code Pro', monospace;
}

em {
  font-style: italic;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  bottom: 0;
  background: var(--app-surface);
  box-shadow: var(--aurelia-ux--design-elevation4dp);
}

.sidebar__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  text-align: center;
  margin: 0;
}

.sidebar__header img {
  max-width: 90px;
}

.sidebar a {
  text-decoration: none;
  color: inherit;
}

.sidebar__menu {
  position: absolute;
  top: 200px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
}

.sidebar__menu__header {
  font-size: 18px;
  font-weight: 200;
  margin-top: 32px;
}

.sidebar__menu__item--active {
  color: var(--aurelia-ux--design-primary, #0094ff);
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 250px;
}

p {
  margin-bottom: 16px;
}

h1, h2, h3, h4, h4, h5, h6 {
  margin: 16px 0;
}

h1.section-title {
  margin: 0;
  margin-bottom: 16px;
}

h1, h2, h3 {
  font-weight: 200;
}

h1 {
  font-size: 38px;
  color: var(--app-primary);
}

h2 {
  font-size: 32px;
  color: var(--app-primary);
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 22px;
}

h6 {
  font-size: 18px;
}

strong {
  font-weight: 600;
}

small {
  font-size: 14px;
}

.page {
  overflow-y: scroll;
  flex: 1;
}

.component-demo {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 124px;
  padding: 16px;
  background-color: #00000010;
}

table.attribute-table {
  min-width: 400px;
}

.color-feedback {
  display: inline-flex;
  width: 30px;
  height: 30px;
  border-radius: 3px;
  border: 1px solid var(--ux-swatch--white);
}
