.components ux-sidenav {
  border: 1px solid black;
}

.components ux-sidenav ux-sidenav-content {
  padding: 100px;
  display: flex;
}

.components ux-sidenav ux-sidenav-content div {
  flex: 1;
}

.components ux-sidenav-drawer[side="left"] {
  border-right: 1px solid rgba(0, 0, 0, .12);
  padding: 20px;
}

.components ux-sidenav-drawer[side="right"] {
  border-left: 1px solid rgba(0, 0, 0, .12);
  padding: 20px;
}
