.theming h3 {
  display: flex;
  align-items: center;
  align-content: center;
  cursor: pointer;
}

.theming .color-feedback {
  display: inline-flex;
  width: 30px;
  height: 30px;
  border-radius: 3px;
}

.theming ux-field {
  display: block;
  margin-bottom: 8px;
}


