

/* TESTING ZONE */

.labels-and-input-with-background .ux-input-component__label {
  background-color: rgba(100, 100, 100, 0.6);
}

.labels-and-input-with-background .ux-input-component__inner-input {
  background-color: rgba(0, 0, 0, 0.2);
}

.normal .ux-card__content,
.normal .ux-card__content .ux-form__field {
  background: #fff;
}

.alternate .ux-card__content,
.alternate .ux-card__content .ux-form__field {
  background: #666;
}

.alternate .ux-input-component {
  --background: #369;
  --foreground: white;
  --foreground-label: #aaa;
  --active-color: blue;
  --border-color: #aaa;
  --border-radius: 12px;
  --border-width: 4px;
  --border-active-width: 8px;
}
