ux-button > button {
  display: inline-block;
  border: 0;
  outline: none;
  text-align: center;
  text-transform: uppercase;
  position: relative;
}

ux-button > button::-moz-focus-inner {
  border: none;
}

ux-button > button.raised, ux-button > button.flat {
  min-width: 88px;
  margin: 6px 0px;
  padding: 0 16px 0 16px;  
  border-radius: 2px;
}

ux-button > button.icon {
  display: inline-flex;
  min-width: inherit;
  padding: 0 8px;
}

ux-button > button.raised.small, ux-button > button.flat.small, ux-button > button.icon.small {
  font-size: 13px;
  height: 32px;
  line-height: 32px;
}

ux-button > button.raised.medium, ux-button > button.flat.medium, ux-button > button.icon.medium {
  font-size: 14px;
  height: 36px;
  line-height: 36px;
}

ux-button > button.raised.large, ux-button > button.flat.large, ux-button > button.icon.large {
  font-size: 16px;
  height: 42px;
  line-height: 42px;
}

ux-button > button.raised, ux-button > button.fab {
  background-color: var(--theme-background, var(--design-accent));
  color: var(--button-foreground, var(--design-accent-foreground));
}

ux-button > button.raised {
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  box-shadow: var(--design-elevation2dp);
}

ux-button > button.raised:disabled, ux-button > button.fab:disabled {
  background-color: var(--ux-theme--button-backgroundDisabled, var(--design-accent-light));
  color: var(--ux-theme--button-foreground-disabled, var(--design-accent-light-foreground));
}

ux-button > button.raised:active {
  box-shadow: var(--design-elevation4dp);
  transition-delay: 0s;
}

ux-button > button.raised:disabled:active, ux-button > button.fab:disabled:active {
  box-shadow: var(--design-elevation2dp);
  transition-delay: 0s;
}

ux-button > button.raised:focus {
  box-shadow: var(--design-elevationFocus);
  transition-delay: 0s;
}

ux-button > button.raised:disabled:focus, ux-button > button.fab:disabled:focus {
  box-shadow: var(--design-elevation2dp);
  transition-delay: 0s;
}


ux-button > button.flat, ux-button > button.icon {
  background-color: transparent;
  color: var(--ux-theme--button-foreground, var(--design-accent));
}

ux-button > button.flat.disabled {
  opacity: .74;
}

ux-button > button.flat:active {
  background-color: var(--ux-theme--button-background, var(--swatches-grey-p300));
}

ux-button > button.fab {
  border-radius: 50%;
  overflow: hidden;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  box-shadow: var(--design-elevation2dp);
}

ux-button > button.fab.small {
  width: 40px;
  height: 40px;
}

ux-button > button.fab.medium {
  width: 56px;
  height: 56px;
}

ux-button > button.fab.large {
  width: 64px;
  height: 64px;
}

ux-button > button.fab:active {
  box-shadow: var(--design-elevation4dp);
  transition-delay: 0s;
}

ux-button > button.fab:focus {
  box-shadow: var(--design-elevation-focus);
  transition-delay: 0s;
}
