styles.button {
  display: inline-block;
  border: 0;
  outline: none;
  text-align: center;
  text-transform: uppercase;
  position: relative;
}

styles.button::-moz-focus-inner {
  border: none;
}

styles.button.raised, styles.button.flat {
  min-width: 88px;
  margin: 6px 0px;
  padding: 0 16px 0 16px;  
  border-radius: 2px;
}

styles.button.icon {
  display: inline-flex;
  min-width: inherit;
  padding: 0 8px;
}

styles.button.raised.small, styles.button.flat.small, styles.button.icon.small {
  font-size: 13px;
  height: 32px;
  line-height: 32px;
}

styles.button.raised.medium, styles.button.flat.medium, styles.button.icon.medium {
  font-size: 14px;
  height: 36px;
  line-height: 36px;
}

styles.button.raised.large, styles.button.flat.large, styles.button.icon.large {
  font-size: 16px;
  height: 42px;
  line-height: 42px;
}

styles.button.raised, styles.button.fab {
  background-color: var(--button-background, --design-accent);
  color: var(--button-foreground, --design-accentForeground);
}

styles.button.raised {
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  box-shadow: var(--design-elevation2dp);
}

styles.button.raised:disabled, styles.button.fab:disabled {
  background-color: var(--button-backgroundDisabled, --design-accentLight);
  color: var(--button-foregroundDisabled, --design-accentLightForeground);
}

styles.button.raised:active {
  box-shadow: var(--button-design-elevation4dp);
  transition-delay: 0s;
}

styles.button.raised:disabled:active, styles.button.fab:disabled:active {
  box-shadow: var(--design-elevation2dp);
  transition-delay: 0s;
}

styles.button.raised:focus {
  box-shadow: var(--design-elevationFocus);
  transition-delay: 0s;
}

styles.button.raised:disabled:focus, styles.button.fab:disabled:focus {
  box-shadow: var(--design-elevation2dp);
  transition-delay: 0s;
}


styles.button.flat, styles.button.icon {
  background-color: transparent;
  color: var(--button-foreground, --design-accent);
}

styles.button.flat.disabled {
  opacity: .74;
}

styles.button.flat:active {
  background-color: var(--button-background, --swatches-grey-p300);
}

styles.button.fab {
  border-radius: 50%;
  overflow: hidden;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  box-shadow: var(--design-elevation2dp);
}

styles.button.fab.small {
  width: 40px;
  height: 40px;
}

styles.button.fab.medium {
  width: 56px;
  height: 56px;
}

styles.button.fab.large {
  width: 64px;
  height: 64px;
}

styles.button.fab:active {
  box-shadow: var(--design-elevation4dp);
  transition-delay: 0s;
}

styles.button.fab:focus {
  box-shadow: var(--design-elevationFocus);
  transition-delay: 0s;
}
