ux-select {
  display: inline-block;
  color: var(--ux-theme-select-foreground);
  box-sizing: border-box;
}

ux-select > .container {
  position: relative;
  display: inline-block;
  width: 100%;
}

ux-select > .container > .ux-select-trigger {
  position: relative;
  display: flex;
  justify-content: center;
  border: 0;
  border-bottom: var(--ux-theme--select-trigger-border);
  padding: 6px 4px 6px 12px;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

ux-select > .container > .ux-select-trigger:focus {
  border-bottom: var(--ux-theme--select-trigger-border-focused);
}

ux-select > .container > .ux-select-trigger:disabled {
  opacity: 0.8;
  cursor: default;
  pointer-events: none;
  border-bottom: var(--ux-theme--select-trigger-border-disabled);
}

ux-select > .container > .ux-select-trigger > .ux-select-value {
  display: inline-block;
  flex-grow: 1;
  min-width: var(--ux-theme--select-value-ct-min-width);
  margin-right: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

ux-select > .container > .ux-select-trigger:after {
  content: '▾';
  color: black;
  position: relative;
}

ux-select > .container > .options-container {
  position: relative;
}

ux-select > .container > .options-container > .options {
  position: fixed;
  max-width: var(--ux-theme--select-list-max-width-px);
  max-height: var(--ux-theme--select-list-max-height-px);
  border: 1px solid #cccccc;
  border-top: 0;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  background-color: var(--ux-theme--select-list-background);
  z-index: 10000;
  outline: none;
  user-select: none;
  overflow-x: hidden;
  overflow-y: auto;
  transform-origin: top left 0px;
  transform: scaleY(0);
  transition: transform var(--ux-theme--select-list-transition-s) ease-out;
}

ux-select > .container > .options-container > .options.open {
  transform: scaleY(1);
}

ux-option {
  position: relative;
  display: block;
  padding: 6px 24px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

ux-option:hover {
  background-color: var(--ux-theme--select-option-hover);
}

ux-option.selected {
  background-color: var(--ux-theme--select-option-selected);
}

ux-option[disabled] {
  opacity: 0.8;
  pointer-events: none;
}
