.ux-textarea {
  --foreground: var(--aurelia-ux--textarea-foreground, var(--aurelia-ux--design-control-foreground, #212121));
  --foreground-label: var(--aurelia-ux--textarea-foreground-label, var(--aurelia-ux--design-control-label-color, #757575));
  --background: var(--aurelia-ux--textarea-background, var(--aurelia-ux--design-control-background, #E0E0E0));
  --background-hover: var(--aurelia-ux--textarea-background-hover, #00000027);
  --active-color: var(--aurelia-ux--textarea-active-color, var(--aurelia-ux--design-primary, #3F51B5));

  --font-size: var(--aurelia-ux--textarea-font-size, 16px);
  --letter-spacing: var(--aurelia-ux--textarea-letter-spacing, inherit);
  --label-font-size: var(--aurelia-ux--textarea-label-font-size, 12px);
  --label-letter-spacing: var(--aurelia-ux--textarea-label-letter-spacing, 0.5px);
  --line-height: var(--aurelia-ux--textarea-line-height, 1.6);
  --label-line-height: var(--aurelia-ux--textarea-label-line-height, 1.6);

  --border-color: var(--aurelia-ux--textarea-border-color, var(--aurelia-ux--design-control-label-color, #757575));
  --border-radius: var(--aurelia-ux--textarea-border-radius, 4px);
  --border-width: var(--aurelia-ux--textarea-border-width, 1px);
  --border-active-width: var(--aurelia-ux--textarea-border-active-width, 2px);

  --disabled-foreground: var(--aurelia-ux--textarea-disabled-foreground, var(--aurelia-ux--design-disabled-foreground, #9E9E9E));
  --disabled-background: var(--aurelia-ux--textarea-disabled-background, var(--aurelia-ux--design-disabled-background, #e1e1e1));

  --error: var(--aurelia-ux--textarea-error, var(--aurelia-ux--design-error, #F44336));
}

.ux-textarea .ux-input-component__inner-input {
  resize: none;
}

.ux-textarea--show-grip .ux-input-component__inner-input {
  resize: both;
}
