ux-textarea {
  display: block;
  width: 100%;
  color: var(--ux-theme--textarea-foreground);
}
  ux-textarea > textarea {
    width: 100%;
    padding: 6px 0 4px 0;
    margin-bottom: 4px;
    border: 0;
    outline: none;
    resize: none;
    padding-left:0;
    padding-right:0;
    transition: border-color 250ms ease;
    background-color: var(--ux-theme--textarea-background);
    border-bottom: var(--ux-theme--textarea-border-bottom);
  }

    ux-textarea > textarea:hover,
    ux-textarea > textarea:focus {
      border-bottom-color: var(--ux-theme--textarea-border-bottom-focus);
    }

    ux-textarea > textarea:focus {
      border-bottom-width: 2px;
      padding-bottom: 3px;
    }

    ux-textarea > textarea[disabled],
    ux-textarea > textarea[disabled]:hover,
    ux-textarea > textarea[disabled]:focus,
    ux-textarea > textarea[readonly],
    ux-textarea > textarea[readonly]:hover,
    ux-textarea > textarea[readonly]:focus {
      color: var(--ux-theme--textarea-disabled-foreground);
      border-bottom: var(--ux-theme--textarea-disabled-border-bottom);
    }
    
  ux-textarea.show-grip > ux-textarea > textarea {
    resize: both;
  }

  ux-textarea.full-width > ux-textarea > textarea {
    padding: 20px 8px;
    margin-bottom: 0;
    font-size: 16px;
    border: var(--ux-theme--textarea-full-width-border);
    background-color: var(--ux-theme--textarea-full-width-background);
  }

    ux-textarea.full-width > ux-textarea > textarea[disabled]
    ux-textarea.full-width > ux-textarea > textarea[disabled]:hover,
    ux-textarea.full-width > ux-textarea > textarea[disabled]:focus,
    ux-textarea.full-width > ux-textarea > textarea[readonly],
    ux-textarea.full-width > ux-textarea > textarea[readonly]:hover,
    ux-textarea.full-width > ux-textarea > textarea[readonly]:focus  {
      background-color: var(--ux-theme--textarea-full-width-diabled-background);
      border: var(--ux-theme--textarea-full-width-disabled-border);
      color: var(--ux-theme--textarea-full-width-disabled-foreground);
    }
  
  ux-textarea.has-error ux-textarea > textarea {
    border-bottom-color: var(--ux-theme--textarea-error);
  }

  ux-textarea.full-width.has-error ux-textarea > textarea {
    border-color: var(--ux-theme--textarea-error);
  }
