ux-input {
  display: block;
  width: 100%;
}

styles.input {
  display: block;
  border: 0;
  outline: none;
  position: relative;
  padding: 8px;
  width: 100%;
}

  ux-input > styles.input {
    background-color: transparent;
    padding-left:0;
    padding-right:0;
    transition: 250ms;
    border-bottom: 2px solid ${$design.primaryLightForeground};
  }

  ux-input > styles.input[disabled],
  ux-input > styles.input[disabled]:hover,
  ux-input > styles.input[disabled]:focus,
  ux-input > styles.input[readonly],
  ux-input > styles.input[readonly]:hover,
  ux-input > styles.input[readonly]:focus {
    color: ${$swatches.grey.p500};
    border-bottom: 1px dashed ${$swatches.grey.p300};
  }

    ux-input > styles.input:hover {
      border-bottom-color: ${$design.accent};
    }

    ux-input > styles.input:focus {
      border-bottom-color: ${$design.accentDark};
    }

  ux-input.full-width > styles.input {
    padding: 20px;
    font-size: 16px;
    background-color: ${$swatches.white};
    border: 1px solid ${$swatches.grey.p200};
  }

  ux-input.full-width > styles.input[disabled]
  ux-input.full-width > styles.input[disabled]:hover,
  ux-input.full-width > styles.input[disabled]:focus,
  ux-input.full-width > styles.input[readonly],
  ux-input.full-width > styles.input[readonly]:hover,
  ux-input.full-width > styles.input[readonly]:focus  {
    background-color: ${$swatches.grey.p200};
    border: 1px solid ${$swatches.grey.p300};
    color: ${$swatches.grey.p500}
  }

  ux-input.full-width > div.counter {
    position: absolute;
    right: 0;
    width: 0;
    top: 12px;
    padding: 8px;
    display: flex;
    justify-content: flex-end;
    color:  ${$design.primaryLightForeground};
    transition: 250ms;
  }
  
ux-input .input-info { 
  display: flex;
  margin-top: 4px;
  font-size: 14px;
  color: ${$design.primaryLightForeground};
}

ux-input .input-info>.hint-text {
  flex-grow: 1;
}

  ux-input .input-info>div.counter {
    transition: 250ms;
  }

  ux-input > styles.input:focus+.input-info>div.counter {
    color: ${$design.accent};
  }

  ux-input>styles.input[disabled]+.input-info {
    display: none;
  }

  ux-input.has-error styles.input {
    border-bottom-color: #f00;
  }

  ux-input.full-width.has-error styles.input {
    border-color: #f00;
  }

  ux-input.has-error .input-info {
    color: #f00;
  }